.main-container {
  padding: 30px 0;
}

.app-form {
  max-width: 800px;
  margin: 0 auto;
}

.table {
  color: #3e3e3f;
}

.nav-header {
  border-bottom: 1px solid #3e3e3f;
  box-shadow: 1px 2px 4px #6b6b6d;
  height: 72px;
}

.nav-header a {
  color: #3e3e3f;
}
.nav-header a.active {
  border-bottom: 2px solid #626666;
}
.nav-header li {
  list-style: none;
}

.close-card-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.input-error-message {
  color: #f31e1e;
  position: absolute;
  transition: 0.3s;
  top: 2px;
  padding: 4px 8px;
  right: 4px;
  font-size: 12px;
  border: 2px solid #f31e1e;
  border-radius: 6px 6px 0 0;
  z-index: 1;
  transition: 0.3s ease-out;
}

.input-error:focus,
.input-error {
  border-color: #f31e1e;
  /* outline: none; */
  box-shadow: 0 0 0 0.1rem #f31e1e;
  outline-color: #f31e1e;
  background-color: #f77474;
}

.backdrop {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.trash-icon {
  padding: 8px;
  cursor: pointer;
  position: relative;
  z-index: 200;
}
